<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>shop</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>500</error-code>
		<location>/error1.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.long.NULLPointerException</exception-type>
		<location>/error2.jsp</location>
	</error-page>
	<servlet>
		<servlet-name>ConnectionPool</servlet-name>
		<servlet-class>com.center.ConnectionPool</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>TradeKingControl</servlet-name>
		<servlet-class>com.center.TradeKingControl</servlet-class>
		<init-param>
			<param-name>tradeking_config</param-name>
			<param-value>C:\Users\USER506-04\Documents\jaehan\tradeking01\WebContent\WEB-INF\tradeking_prop.properties</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>TradeKingControl</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
</web-app>